In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [22]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /Users/a1/Library/Python/3.9/lib/python/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /Users/a1/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: joblib>=1.1.1 in /Users/a1/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/a1/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /Users/a1/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.10.1)
WARNING: You are using pip version 21.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [23]:
film = pd.read_csv('https://raw.githubusercontent.com/ZorroHZR/schulich_datascience/main/movies.csv')

In [24]:
film.iloc[:,0].str.split(";",expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,The Shining,"""R""","""Drama""",1980,"""June 13",None,None,None,None,None,None,None,None,None,None
1,The Blue Lagoon,"""R""","""Adventure""",1980,"""July 2",None,None,None,None,None,None,None,None,None,None
2,Star Wars: Episode V - The Empire Strikes Back,"""PG""","""Action""",1980,"""June 20",None,None,None,None,None,None,None,None,None,None
3,Airplane!,"""PG""","""Comedy""",1980,"""July 2",None,None,None,None,None,None,None,None,None,None
4,Caddyshack,"""R""","""Comedy""",1980,"""July 25",None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,Birthday Girl,"""R""","""Comedy""",2001,"""February 1",None,None,None,None,None,None,None,None,None,None
3996,Human Nature,"""R""","""Comedy""",2001,"""September 12",None,None,None,None,None,None,None,None,None,None
3997,Made,"""R""","""Comedy""",2001,"""August 31",None,None,None,None,None,None,None,None,None,None
3998,One Night at McCool's,"""R""","""Comedy""",2001,"""April 27",None,None,None,None,None,None,None,None,None,None
3999,Dr. Dolittle 2,"""PG""","""Comedy""",2001,"""June 22",None,None,None,None,None,None,None,None,None,None

In [31]:
film[['movie_name','rating_target_audience','genre','release_year','release_date']]=film.iloc[:,0].str.split(";",expand=True).iloc[:,0:5]
film

,Unnamed: 1,movie_name,rating_target_audience,genre,release_year,release_date
0,"1980 (United States)"";8.4;927000.0;""Stanley K...","1980 (United States)""",8.4,927000.0,"""Stanley Kubrick""","""Stephen King"""
1,"1980 (United States)"";5.8;65000.0;""Randal Kle...","1980 (United States)""",5.8,65000.0,"""Randal Kleiser""","""Henry De Vere Stacpoole"""
2,"1980 (United States)"";8.7;1200000.0;""Irvin Ke...","1980 (United States)""",8.7,1200000.0,"""Irvin Kershner""","""Leigh Brackett"""
3,"1980 (United States)"";7.7;221000.0;""Jim Abrah...","1980 (United States)""",7.7,221000.0,"""Jim Abrahams""","""Jim Abrahams"""
4,"1980 (United States)"";7.3;108000.0;""Harold Ra...","1980 (United States)""",7.3,108000.0,"""Harold Ramis""","""Brian Doyle-Murray"""
...,...,...,...,...,...,...
3995,"2002 (United States)"";6.1;25000.0;""Jez Butter...","2002 (United States)""",6.1,25000.0,"""Jez Butterworth""","""Tom Butterworth"""
3996,"2001 (France)"";6.4;18000.0;""Michel Gondry"";""C...","2001 (France)""",6.4,18000.0,"""Michel Gondry""","""Charlie Kaufman"""
3997,"2001 (United States)"";6.4;18000.0;""Jon Favrea...","2001 (United States)""",6.4,18000.0,"""Jon Favreau""","""Jon Favreau"""
3998,"2001 (United States)"";6.1;29000.0;""Harald Zwa...","2001 (United States)""",6.1,29000.0,"""Harald Zwart""","""Stan Seidel"""
3999,"2001 (United States)"";4.7;42000.0;""Steve Carr...","2001 (United States)""",4.7,42000.0,"""Steve Carr""","""Hugh Lofting"""

In [26]:
#Dropping Third Column
film.drop('Unnamed: 2',axis=1,inplace=True)

In [27]:
film

                                             Unnamed: 1
0      1980 (United States)";8.4;927000.0;"Stanley K...
1      1980 (United States)";5.8;65000.0;"Randal Kle...
2      1980 (United States)";8.7;1200000.0;"Irvin Ke...
3      1980 (United States)";7.7;221000.0;"Jim Abrah...
4      1980 (United States)";7.3;108000.0;"Harold Ra...
...                                                 ...
3995   2002 (United States)";6.1;25000.0;"Jez Butter...
3996   2001 (France)";6.4;18000.0;"Michel Gondry";"C...
3997   2001 (United States)";6.4;18000.0;"Jon Favrea...
3998   2001 (United States)";6.1;29000.0;"Harald Zwa...
3999   2001 (United States)";4.7;42000.0;"Steve Carr...

[4000 rows x 1 columns]